.Rprofile
.Xauthority
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dockerignore
.gitconfig
.gtkrc-2.0
.gtkrc-xfce
.profile
.ssh/
.vim/
.viminfo
.vscode-R/
.vscode-server/
.wget-hsts
.xsession-errors
Data/
curl-7.82.0.tar.gz
curl-7.82.0/
doppelgangR/cache/
doppelgangR/input_data
for_trash/
hello.py
openssl-3.0.2/
R-4.1.3/
RFolder/
usr/